.item {
    /* border: 1px solid black; */
    width: 270px;
    background-color: gainsboro;
    border: 0.5px solid gainsboro;
    cursor: pointer;
}

.item p {
    margin: 10px 5px;
    width: 100%;
}

.item-prices {
    border-top: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-price-new {
    color: tomato;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.02);
    transition: 0.5s;
}