.popular {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.popular hr {
    height: 6px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}

.popular-item {
    margin: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

@media(max-width:700px) {
    .popular-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:1200px) {
    .popular-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}